
/** navbar section **/

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
}
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
}

/** home page section **/

.header-name {
      font-family: 'Cormorant Garamond', serif;
      font-size: 52px;
      margin-top: 50px;

      margin-bottom: 80px;

      margin-bottom: 45px;

      height: 120px;
}

#below-name {
      font-family: 'Cormorant Garamond', serif;
      font-size: 25px;
      padding-bottom: 30px;

}

.bg-1 { 
      background-image: url("header-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: #ffffff;
  }

/** about section **/

.about-name {
      font-size: 45px;
      font-family: 'Cormorant Garamond', serif;
      color: white;
      padding-bottom: 20px;
}

.about-article {
      color: white;
      font-size: 20px;

}

.about-image {
      background-repeat: no-repeat;
      background-size: cover;
      height: 5%;
      width: 45%;
      padding-top: 50px;
}

.bg-2 { 
      background-color: #adb7c1;
}

/** projects section **/

.projects-name {
      font-size: 45px;
      font-family: 'Cormorant Garamond', serif;
}

.bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
}

.thumbnail-img {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px;  /* Rounded border */
      padding: 5px; /* Some padding */
      width: 150px; /* Set a small width */
}


   /* Add a hover effect (blue shadow) */
   .thumbnail-img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


#home {
      background-image: url("header-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      color: #ffffff; 
}

/** footer section **/
.bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
}
.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
}


